<div>
  <div ng-if="loading">Loading..</div>
  <div ng-if="data">
    <p>Showing {{ filtered.length }} items</p>
    <h4 class="active">Filter by:
      <select ng-model="filterBy">
        <option ng-repeat="(key,val) in selectOptions" value="{{ key }}">{{ val }}</option>
      </select>
    </h4>
    <input type="text" ng-model="searchText" autofocus placeholder="Search..">
    <h4 class="underline">Order By:</h4>
    <div>
      <select ng-model="orderByValue">
        <option ng-repeat="(key,val) in selectOptions" value="{{ key }}">{{ val }}</option>
      </select>{{ ' ' }}
      <select ng-model="orderByAsc">
        <option value="">Ascending</option>
        <option value="reverse">Descending</option>
      </select>
    </div>
    <ul>
      <a ng-animate="'animate'" href="#!/details/{{data.indexOf(person)}}" ng-repeat="person in data | filter: { [filterBy]: searchText } | orderBy: orderByValue : orderByAsc  as filtered"
        class="list-link">
        <li>
          <div class="left">
            <img ng-src="{{ person.img }}" alt="{{ person.first_name }} image">
          </div>
          <p><span ng-class="{'active': filterBy === 'first_name', 'underline': orderByValue === 'first_name' }">{{ person.first_name }}</span> <span ng-class="{'active': filterBy === 'last_name', 'underline': orderByValue === 'last_name'  }">{{
              person.last_name }}</span></p>
          <div class="mb-10">{{ person.about }}</div>
          <span ng-class="{'active': filterBy === 'job', 'underline': orderByValue === 'job' }"><small>job:</small> {{ person.job }}</span>
          <div><small>gender:</small> {{ person.gender }}</div>
        </li>
      </a>
    </ul>
  </div>
</div>
